alias top='htop'
alias g='git status'
alias uu='yay --noconfirm -Syyu --needed --devel'
alias lsorphans='sudo pacman -Qdt'
alias rmorphans='sudo pacman -Rns $(lsorphans| cut -d " " -f 1)'

# List aliases
alias df='df -h'
alias sortmirrors='sudo reflector --verbose -c Germany -c France -c Italy -l 200 -p http --sort rate --save /etc/pacman.d/mirrorlist; sudo pacman -Syyu'
alias gl='git log --oneline'
alias more='bat --decorations never'
alias vim='nvim'

# Utils
alias npmscripts='jq .scripts package.json'
alias task='go-task'
alias docker-stop-all='docker stop $(docker ps -aq)'
alias docker-rm-all='docker rm $(docker ps -aq)'
alias git-add-remote-refs='git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*" && git fetch -Ppaf'
alias lw='cd $HOME/repos/$(choose-worktree.sh | cut -d";" -f2)'
alias dps='docker ps --format "table {{.Names}}\t{{.Image}}\t{{.Status}}"'
