/*
* wofi style. Colors are from authors below.
* Base16 Gruvbox dark, medium
* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
*
*/
@define-color background #32302F
@define-color input-text #DDC7A1;
@define-color choice-color #D4BE98;
@define-color selected-bg #504945;

window {
  opacity: 1;
  border: 0px;
  border-radius: 8px;
  font-family: "Jetbrainsmono nerd font", monospace;
  font-size: 15px;
  font-weight: 500;
}

#input {
  border-radius: 8px 8px 0px 0px;
  border: 0px;
  padding: 10px;
  margin: 0px;
  font-size: 15px;
  color: @input-text;
  background-color: @background;
}

#inner-box {
  margin: 0px;
  color: @choice-color;
  background-color: @background;
}

#outer-box {
  margin: 0px;
  background-color: @background;
  border-radius: 10px;
}

#selected {
  background-color: @selected-bg;
}

#entry {
  padding: 0px;
  margin: 0px;
  background-color: @background;
}

#scroll {
  margin: 5px;
  background-color: @background;
}

#text {
  margin: 0px;
  padding: 2px 2px 2px 10px;
}
